<!-- cancha-list.component.html -->
<div class="cancha-list">
    <h1>Reserva tu Cancha!</h1>
    <div class="cancha" *ngFor="let cancha of canchas">
      <img src="{{cancha.foto}}" alt="Foto de la cancha">
      <p>Foro: {{cancha.foro}}</p>
      <p>Costo: S/. {{cancha.costo}}/h</p>
      <p>Estado: <span [class.available]="cancha.estado === 'Disponible'" [class.occupied]="cancha.estado === 'Ocupado'">{{cancha.estado}}</span></p>
      <button (click)="verMas(cancha)">Ver más</button>
    </div>
  </div>
  