<app-header></app-header>
<div class="ml-52 p-5 flex-grow overflow-y-auto h-[calc(100vh-4rem)]">
  <div class="p-4">
    <h2 class="text-2xl font-bold mb-4">Reservas Pendientes</h2>
    <div class="mb-4">
      <button class="bg-gray-300 text-black py-2 px-4 rounded">Reservas Pasadas</button>
    </div>
    <div *ngFor="let reserva of reservasPendientes" class="mb-4 p-4 bg-gray-200 rounded flex justify-between items-center">
      <p>{{ reserva.nombre }} - {{ reserva.hora }} - {{ reserva.fecha }} - {{ reserva.cancha }}</p>
      <button class="bg-green-500 text-white py-2 px-4 rounded">Editar</button>
    </div>
  </div>
</div>

  