@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos adicionales globales */
body, html {
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
}

.menu-toggle {
  position: fixed;
  z-index: 50; /* Asegura que esté por encima del header */
  top: 2rem; /* Ajusta la distancia desde la parte superior */
  left: 2rem; /* Ajusta la distancia desde la parte izquierda */
}

.sidebar {
  z-index: 40; /* Asegura que esté por encima de otros contenidos pero debajo del menu-toggle */
  transform: translateX(-100%); /* Inicialmente oculto */
  transition: transform 0.3s ease; /* Añade una transición suave */
}

.sidebar.translate-x-0 {
  transform: translateX(0); /* Mostrar menú */
}

.profile-section {
  margin-top: 4rem; /* Ajusta el espacio superior del perfil */
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin: 1.25rem 0;
}

.menu a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.125rem;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Efecto hover */
}

.bg-green-500 {
  background-color: #48bb78; /* Tailwind green-500 */
}

.text-white {
  color: #ffffff;
}
